body{
	margin: 0 auto; 
}
#wrapper{
	position: relative;
}
.answers{
	position: absolute;
}
.round-button {
    display:block;
    width:150px;
    height:150px;
    line-height:50px;
    border: 5px solid #f5f5f5;
    border-radius: 50%;
    background: #9f9f9f;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #5f5f5f;
}


#triangle {
    width: 0px;
    height: 0px;
   margin : auto;
   margin-left:	47px;
    position: relative;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50px solid ;
    color:#f5f5f5;
    z-index: 2;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    
}
#timer{
		margin: auto;
		position: relative;
}
#trialsCompleted{
	margin: 5px;
	position:absolute;
	top:30px;
	right:50px;
	font-size:larger;
	overflow: auto;
	padding:5px;
	height:auto;
	color:#f5f5fe;
	background-color:#000000;
	cursor:default;
	background-image: linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -o-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -moz-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -webkit-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
    background-image: -ms-linear-gradient(bottom, rgb(82,79,82) 0%, rgb(134,134,134) 57%);
	
	box-shadow:0px 3px 4px #dcdcdc;
    border:2px #285E8E thin;
    border-radius: 3px;
}
#mode{
	margin : 0 auto;
	width:500px;
}
#button:hover #triangle { border-left: 80px solid #45bde9 }
#button:active #triangle { border-left: 80px solid #e94545 }

#triangle {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-top: 50%;
    left: -28px;
    top: -42px;
    position: absolute;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 70px solid #FFFFFF;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.wrong{
	border: 5px solid #FF1111;
    border-radius: 50%;
}
.correct{
	border: 5px solid #11FF11;
    border-radius: 50%;
}
#mode{
	position:absolute;
	left:0;
	right:0;
	top:100px;
}
#progressWrapper{
	position: relative;
	width:80%;
	/*top : 50%;*/
	margin: 0 auto;
}
#progressWrapper h1{
	text-align: center;
}
