<md-toolbar color="primary">
  <label class="center">Audio Proximity Compatibility Principle</label>
</md-toolbar>
<md-progress-bar *ngIf="progressPercent<100" color="accent" mode="determinate" [value]="progressPercent"></md-progress-bar>
<h2 *ngIf="progressPercent<100">Loading Sound Files. Pleas wait...</h2>
<div id="content" *ngIf="!progressPercent<100 && !completed">
  <h2 class="center trials-completed">Trials Completed: {{trialNumber}} / {{totalTrials}}</h2>
  <div class="container">
    <button #optionRef class="button-round button-option" *ngFor="let option of options; let i = index;" type="button" (click)="onOptionClick(i)"
      [ngClass]="option.status" [disabled]="">
      <label *ngIf="option.reactionTime">{{option.reactionTime}} ms</label>
        <img *ngIf="!option.reactionTime" [src]="option?.imageSrc" />
	</button>
    <button #startStop type="button" class="button-round button-center" (click)="nextTrial()" *ngIf="trialNumber <= totalTrials">
          <md-icon class="md-72" *ngIf="!countDownTimer.counting">play_arrow</md-icon>
          <label *ngIf="countDownTimer.counting">{{countDownTimer.counter}}</label>
	</button>
  </div>
</div>
<audio [src]="audioSrc" #audioPlayer type="audio/wav" preload="auto"></audio>
<h1 *ngIf="completed">Thank You for your time. Saving Data...</h1>
